

<h2>Search the OMDB</h2>
<h4>Enter a movie-related title, word, or phrase...</h4>


<form action="/results" method="GET">
    <input type="text" placeholder="Search Term" name="formSearch">
    <input type="submit">
</form>


